#viewer-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 3001;
	opacity: 0.7;
}

#viewer-container {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
    z-index: 3002;
    display:flex;
    justify-content: center;
    align-items: center;
}

#viewer-toolbar {
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom:1px solid #eee;
    background: #f5f5f5;
}

#viewer-toolbar button {

    margin:0;
    border-radius:0;
    border:none;
    background:transparent;
}

#viewer-toolbar span {
    font-weight:bold;
    padding-left:1em;
}

#viewer-layout {
    width:100%;
    height:100%;
    max-width:1024px;
    max-height:640px;
    background:white;
    display:flex;
    flex-direction:column;
}

#viewer-wrap {
    width:100%;
    flex:1;
}

#viewer-preview-wrap {
    width:100%;
    height:100%;
}

#kmlViewer {
    width:100%;
    height:100%;
}